*~
*#
EXWM.desktop
/emacs/.emacs.d/.cache/
/emacs/.emacs.d/.dap-breakpoints
/emacs/.emacs.d/.extension/
/emacs/.emacs.d/.lsp-session-v1
/emacs/.emacs.d/elpa/
/emacs/.emacs.d/projectile-bookmarks.eld
/emacs/.emacs.d/quelpa/
/emacs/.emacs.d/transient/
/emacs/.emacs.d/url/
/emacs/.emacs.d/eshell/
/emacs/.emacs.d/etc/eshell/aliases
/emacs/.emacs.d/tramp
/emacs/.emacs.d/straight/
emacs/.emacs.d/amx-items
/emacs/.emacs.d/bookmarks
/emacs/.emacs.d/eaf/
/emacs/.emacs.d/python.env/
/emacs/.emacs.d/network-security.data
/emacs/.emacs.d/var/
/emacs/local.org
/emacs/.emacs.d/local.el
/emacs/.emacs.d/request/
/emacs/.emacs.d/.org-id-locations
/emacs/.emacs.d/.lsp-eslint-choices
/emacs/.emacs.d/forge-database.sqlite
/emacs/.emacs.d/undo-fu-session/
/emacs/.emacs.d/eln-cache/
/fonts/.local/share/fonts/*/.uuid
/kmonad/.config/kmonad/*.kbd
/kmonad/.config/kmonad/split-keyboard/
/rofi/.config/rofi/themes/
/emacs/.emacs.d/tmp/
*.rc
/xfce4/.config/xfce4/panel/
/kde/.config/BraveSoftware/
/kde/.config/GIMP/
/kde/.config/QtProject.conf
/kde/.config/SFZTools/
/kde/.config/Trolltech.conf
/kde/.config/akregatorrc
/kde/.config/ardour6/
/kde/.config/baloofileinformationrc
/kde/.config/baloofilerc
/kde/.config/dconf/
/kde/.config/dolphinrc
/kde/.config/fish/
/kde/.config/fontconfig/
/kde/.config/gwenviewrc
/kde/.config/inkscape/
/kde/.config/kactivitymanagerd-statsrc
/kde/.config/kactivitymanagerdrc
/kde/.config/kateschemarc
/kde/.config/katevirc
/kde/.config/kcminputrc
/kde/.config/kconf_updaterc
/kde/.config/kde.org/
/kde/.config/kded5rc
/kde/.config/kded_device_automounterrc
/kde/.config/kdedefaults/
/kde/.config/kdeglobals
/kde/.config/kfontinstuirc
/kde/.config/kglobalshortcutsrc
/kde/.config/khotkeysrc
/kde/.config/kmixrc
/kde/.config/konsolerc
/kde/.config/kscreenlockerrc
/kde/.config/ksmserverrc
/kde/.config/ktimezonedrc
/kde/.config/kwalletrc
/kde/.config/kwinrc
/kde/.config/kwinrulesrc
/kde/.config/kwriterc
/kde/.config/kxkbrc
/kde/.config/lsp-plugins/
/kde/.config/menus/
/kde/.config/mimeapps.list
/kde/.config/okularpartrc
/kde/.config/okularrc
/kde/.config/plasma-localerc
/kde/.config/plasma.emojierrc
/kde/.config/plasmanotifyrc
/kde/.config/plasmashellrc
/kde/.config/powermanagementprofilesrc
/kde/.config/print-manager
/kde/.config/pulse/
/kde/.config/session/
/kde/.config/spectaclerc
/kde/.config/startkderc
/kde/.config/systemsettingsrc
/kde/.config/user-dirs.dirs
/kde/.config/user-dirs.locale
/kde/.config/vivaldi/
/kde/.config/wpg/
/kde/.config/Code/
/kde/.config/beekeeper-studio/
/kde/.config/bluedevilglobalrc
/kde/.config/google-chrome/
/kde/.config/kwalletmanager5rc
/kde/.config/plasma-nm
/kde/.config/powerdevilrc
/kde/.config/systemmonitorrc
/kde/.config/trashrc
/kde/.config/xdg-desktop-portal-kderc
/kde/.config/simple-scan/
/kde/.config/sqls/
/kde/.config/kcmfonts
/kde/.config/gtk-4.0/gtk.css
/kde/.config/gtk-4.0/colors.css
