*~
*#
EXWM.desktop
/emacs/.emacs.d/.cache/
/emacs/.emacs.d/.dap-breakpoints
/emacs/.emacs.d/.extension/
/emacs/.emacs.d/.lsp-session-v1
/emacs/.emacs.d/elpa/
/emacs/.emacs.d/projectile-bookmarks.eld
/emacs/.emacs.d/quelpa/
/emacs/.emacs.d/transient/
/emacs/.emacs.d/url/
/emacs/.emacs.d/eshell/
/emacs/.emacs.d/tramp
/emacs/.emacs.d/straight/
emacs/.emacs.d/amx-items
/emacs/.emacs.d/bookmarks
/emacs/.emacs.d/eaf/
/emacs/.emacs.d/python.env/
